:root {

  --primary-blue: #2851E3;
  --red: #ED1D24;
  --light-red: #FFCBCB
  --background: #F7F8FD;
  --background-1: #F7F8FD;
  --neutrals-00: #FFFFFF;
  --neutrals-100: #EDEDED;
  --neutrals-200: #D3D3D3;
  --neutrals-300: #C0C0C0;
  --neutrals-400: #808080;
  --neutrals-500: #696969;
  --neutrals-600: #494949;
  --neutrals-700: #333333;
  --neutrals-800: #212121;
  
  --gray-500: #717680;
  --gray-600: #535862;
  --gray-700: #414651;
  --gray-900: #181D27;

  --mint-green-50: #DCF3EB;
  --mint-green-100: #D1EFE4;
  --mint-green-200: #C5EBDE;
  --mint-green-300: #B9E7D7;
  --mint-green-400: #A2DFC9;
  --mint-green-500: #8BD7BC;
  --mint-green-600: #6FAC96;
  --mint-green-700: #538171;
  --mint-green-800: #456C5E;
  --mint-green-900: #38564B;

  --navy-blue-50: #BEC3D5;
  --navy-blue-100: #A8AFC7;
  --navy-blue-150: #EBEDFA;
  --navy-blue-200: #929BB9;
  --navy-blue-300: #7D87AB;
  --navy-blue-400: #515F8F;
  --navy-blue-500: #263773;
  --navy-blue-600: #1E2C5C;
  --navy-blue-700: #172145;
  --navy-blue-800: #131B39;
  --navy-blue-900: #0F162E;

}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-blue: #2851E3;
    --red: #ED1D24;
    --light-red: #FFCBCB;
    --background: #F7F8FD;
    --background-1: #F7F8FD;
    --neutrals-00: #FFFFFF;
    --neutrals-100: #EDEDED;
    --neutrals-200: #D3D3D3;
    --neutrals-300: #C0C0C0;
    --neutrals-400: #808080;
    --neutrals-500: #696969;
    --neutrals-600: #494949;
    --neutrals-700: #333333;
    --neutrals-800: #212121;
    
    --gray-500: #717680;
    --gray-600: #535862;
    --gray-700: #414651;
    --gray-900: #181D27;

    --mint-green-50: #DCF3EB;
    --mint-green-100: #D1EFE4;
    --mint-green-200: #C5EBDE;
    --mint-green-300: #B9E7D7;
    --mint-green-400: #A2DFC9;
    --mint-green-500: #8BD7BC;
    --mint-green-600: #6FAC96;
    --mint-green-700: #538171;
    --mint-green-800: #456C5E;
    --mint-green-900: #38564B;

    --navy-blue-50: #BEC3D5;
    --navy-blue-100: #A8AFC7;
    --navy-blue-150: #EBEDFA;
    --navy-blue-200: #929BB9;
    --navy-blue-300: #7D87AB;
    --navy-blue-400: #515F8F;
    --navy-blue-500: #263773;
    --navy-blue-600: #1E2C5C;
    --navy-blue-700: #172145;
    --navy-blue-800: #131B39;
    --navy-blue-900: #0F162E;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

button {
  cursor: pointer;
  outline: none;
}

html,
body {
  touch-action: manipulation;
  /* Prevent zooming gestures */
  -ms-touch-action: manipulation;
  /* For older Edge/IE */
}

@media (pointer: coarse) {

  html,
  body {
    overscroll-behavior: none;
    /* Prevent accidental zooming */
  }
}