/* @import "tailwindcss"; */
@import "./common.css";
/* styles.css - Urbanist-only version */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F7F8FD;
    --foreground: #171717;
    --Mint-Green-500: #8bd7bc;
    --Neutrals-300: #c0c0c0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #F7F8FD;
      --foreground: #ededed;
    }
  }

  body {
    @apply bg-background text-foreground font-urbanist;
  }
}

/* Configure Urbanist as Tailwind utility */
@layer utilities {
  .font-urbanist {
    font-family: 'Urbanist', sans-serif;
  }
}


@media (min-width: 768px) {
  .card-title {
    min-height: calc(1.75rem * 2) !important;
  }

  .card-description {
    min-height: calc(1.5rem * 3) !important;
  }
}

.no-scroll {
  overflow: hidden;
}

/* Fix for Safari on iOS devices */
select::-webkit-select-menu-button {
  display: none;
}

/* Fix for iOS 12 & below */
select::-webkit-outer-spin-button,
select::-webkit-inner-spin-button {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 